/* Inserta tu codigo aqui */
.header{
	background-color:black;
}

.img{
	max-width: 80%;
}

.enlace{
	color: white;
	float: left;
	padding: 20px;
	text-decoration: none;
}

li{
	list-style: none;
}

.fondo{
	background-color: #38213e;
}

.caja{
	background-image: url(../image/image2.jpg);
	padding: 70px;
    background-size: cover;
}

.cajita{
	background-color: black;
	padding: 30px 0px 30px 0px;
    margin: 120px;
}

.titulo{
	text-align: center;
	color: #b4883c;
	font-size: 80px;
	font-family: cursive;
}

.life{
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 15px;	
	margin: 0 auto;
}

.naranjo{
	text-align: center;
	color: #b4883c;
	font-size: 13px;
	font-family: cursive;
	padding: 5px;
}
.blanco{
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 15px;
}

.espacio{
	padding: 10px;
	padding-top: 20px;
}

.cajita2{
	background-color: black;
}

.image{
	max-width: 100%;
}

.cajita3{
	    background-color: black;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.imp1{
	color:#4c4c4c;
	opacity: 0.5;
	width: 100%;
	padding: 10px;
}

.fa{
	background-color: #191919;
	border-radius: 20px;
	color: white;
	font-size: 10px;
	text-align: center;
	padding: 10px;
}
.iconos{
	margin-left:20%; 
	padding: 20px;
}

.footer{
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 14px;
}
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}

